<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Avocat Tudor Miron</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link href="style.css" type="text/css" rel="stylesheet">
 </head>
<body>
	<div id="main">
		<div class="container-fluid">
			<header>
				<div id="banner" class="container">
					<div id="nume">
						<h3>Avocat Tudor Miron</h3>
					</div>  
					<div id="companie">
						<h3>Cabinet de Avocatur&#259;</h3>
					</div> 
					<div class="image">
					</div>  
				 </div>  
			</header> 
		</div>
		<nav class="navbar navbar-default menu-container">
			<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li>
								<a href="#">Home</a>
							</li>
							<li>
								<a href="#domenii">Domenii</a>
							</li>
							<li>
								<a href="#colaborari">Colabor&#259;ri</a>
							</li>
							<li>
								<a href="#onorarii">Onorarii</a>
							</li>
							<li>
								<a href="#contact">Contact</a>
							</li>
						</ul>
					</div>
			</div>
		</nav>
		<div class="container">
			<div id="site_content">
				<div class="content">
					<div class="row">
						<div class="col-md-9">
							<div class="content_item">
								<h1>Tudor Miron</h1>
								<p>Cabinet de Avocatur&#259; - Tudor Miron este situat &#238;n Cluj-Napoca &#x219;i a fost &#238;nfiin&#539;at &#238;n conformitate cu Legea nr. 51/1995 privind organizarea &#x219;i exercitarea profesiei de avocat. Existen&#539;a cabinetului rezult&#259; din dorin&#539;a de a oferi clien&#539;ilor no&#x219;tri solu&#539;ii rapide, clare &#x219;i inteligente la situa&#539;iile juridice pe care le &#238;ntâlnesc &#238;n activitatea lor. Serviciile puse la dispozi&#539;ie de cabinetul nostru de avocatur&#259; sunt de consultan&#539;&#259; juridic&#259; general&#259; &#x219;i de afaceri.
								Serviciile oferite de cabinetul nostru de avocatur&#259; sunt de cea mai bun&#259; calitate &#x219;i vin &#238;n concordan&#539;&#259; cu ultimele modificari legislative &#x219;i tendin&#539;e din domeniile noastre de activitate.</p>
							</div>  
						</div> 
						<div class="col-md-3">
							<div class="image-holder">
								<div class="image-row">
									<img class="img-responsive" src="Images/avocat1.jpg">
								</div> 
							</div> 
						</div> 
					</div> 
					<div class="row" id="domenii">
						<div class="col-md-9">
							<div class="content_item">
								<h1>Domenii</h1>
									<div class="row columns">
										<div class="col-xs-12 col-sm-6">
											 <p>
												 CONSULTAN&#538;&#258; GENERAL&#258; & ACTIVIT&#258;&#538;I EXTRAJUDICIARE
												 <br>
												 DREPT COMERCIAL &#350;I INSOLVEN&#538;&#258;
												 <br>
												 DREPT CIVIL
												 <br>
												 DREPTUL MUNCII
											 </p>
										</div>
										<div class="col-xs-12 col-sm-6">
											 <p>
												 DREPT PENAL
												 <br>
												 DREPT ADMINISTRATIV &#350;I FISCAL
												 <br>
												 LITIGII (inclusiv LITIGII SPORTIVE) & ARBITRAJ
											 </p>
										</div>
									</div>
							</div>  
						</div> 
						<div class="col-md-3">
							<div class="image-holder">
								<div class="image-row">
									<img class="img-responsive" src="Images/domenii.jpg">
								</div> 
							</div> 
						</div> 
					</div> 
					<div class="row" id="colaborari">
						<div class="col-md-9">
							<div class="content_item">
								<h1>Colabor&#259;ri</h1>
								<p>Colaboratorii no&#x219;tri sunt distin&#x219;i speciali&#x219;ti din diferite domenii, care stau la dispozi&#539;ia clien&#539;ilor no&#x219;tri &#238;n vederea unei rezolv&#259;ri eficiente a problemelor lor.</p>
								<p>Astfel, printre ace&#x219;tia se num&#259;r&#259;: notari publici, executori judecatore&#x219;ti, interpre&#539;i &#x219;i traduc&#259;tori autoriza&#539;i, exper&#539;i contabili sau exper&#539;i din alte domenii, evaluatori, practicieni &#238;n insolven&#539;&#259;, agen&#539;i imobiliari, brokeri sau ingineri specializa&#539;i din diferite domenii.</p> 
								<p>De asemenea, cabinetul nostru de avocatur&#259; colaboreaz&#259; &#x219;i cu colegi avoca&#539;i din alte ora&#x219;e din Rom&#226;nia dar &#x219;i cu avoca&#539;i care i&#x219;i exercit&#259; profesia &#238;n &#539;&#259;ri membre ale Uniunii Europene.</p>
							</div>  
						</div> 
						<div class="col-md-3">
							<div class="image-holder">
								<div class="image-row">
									<img class="img-responsive" src="Images/colaborari.jpg">
								</div> 
							</div> 
						</div> 
					</div> 
					<div class="row" id="onorarii">
						<div class="col-md-9">
							<div class="content_item">
								<h1>Onorarii</h1>
								<p>Fiecare client este unic, iar problemele fiec&#259;ruia sunt specifice. De aceea, stabilim tarifele &#238;mpreun&#259; cu clientul.</p>
								<p>La stabilirea onorariilor pentru clien&#539;i, se va avea &#238;n vedere, posibilitatea de a dezvolta modalit&#259;&#539;ile de plat&#259; a onorariilor sub diferite aspecte, cum ar fi: onorarii orare, onorarii fixe (forfetare), onorarii de succes.
								Onorariul orar este stabilit pe ora de lucru, respectiv o sum&#259; fix&#259; de unit&#259;&#539;i monetare, cuvenit&#259; avocatului pentru fiecare or&#259; de servicii profesionale pe care o presteaz&#259; clientului.
								Onorariul fix (forfetar) const&#259; &#238;ntr-o suma fix&#259; cuvenit&#259; avocatului pentru un serviciu profesional sau pentru categorii de astfel de servicii profesionale pe care &#238;l presteaz&#259; sau dup&#259;  caz, le presteaz&#259; clientului.</p>
								<p>Avocatul poate s&#259; primeasc&#259; de la un client onorarii periodice, inclusiv  forfetare.</p>
							</div>  
						</div> 
						<div class="col-md-3">
							<div class="image-holder">
								<div class="image-row">
									<img class="img-responsive" src="Images/onorarii.jpg">
								</div> 
							</div> 
						</div> 
					</div> 
					<div class="row" id="contact">
						<div class="col-xs-12">
							<div class="content_item">
								<h1>Contact</h1>
									<span>
										<p>ROM&#194;NIA | 400275 Cluj-Napoca</p>
										<p>Str. Horea, Nr. 65</p>
										<p>Tel: <a href="tel:+40744153422">0744 153 422</a></p>
										<p>email: <a href="mailto:avocat@tudormiron.com">avocat@tudormiron.com</a></p>
									</span>
										<br>
									<div class="telefon">
										<a href="tel:+40744153422" class="btn btn-default btn-md" ><span class="fa fa-phone-square fa-3x"></span></a>
									</div> 
									<div class="fax">
										<a href="tel:+40364885618" class="btn btn-default btn-md" ><span class="fa fa-fax fa-3x"></span></a>
									</div>
									<div class="mail">
										<a href="mailto:avocat@tudormiron.com" class="btn btn-default btn-md" ><span class="fa fa-envelope fa-3x"></span></a>
									</div>
									<div class="website">
										<a href="http://www.tudormiron.com" class="btn btn-default btn-md" target="-blank"><span class="fa fa-internet-explorer fa-3x"></span></a>
									</div>
							</div>  
						</div> 
					</div> 
				</div>  
			</div>  
		</div>  
	</div>
	<footer>
	  <a href="#">Home</a> | <a href="#domenii">Domenii</a> | <a href="#colaborari">Colabor&#259;ri</a> | <a href="#onorarii">Onorarii</a> | <a href="#contact">Contact</a><br><br>
	  <a> Copyright &copy Marius Mot 2016</a>
    </footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
	<script src="script.js"></script> 
</body>
<!--- Written and coded by Marius Mot ---!>