body {
    color: #000;
    font: 120% Arial,Helvetica,sans-serif;
}
#main {
    background: rgba(0, 0, 0, 0) linear-gradient(#a0a0a0, #fff) repeat scroll 0 0;
}
#main, header, #banner, #menubar, #site_content, footer, #content_grey, nav {
    margin-left: auto;
    margin-right: auto;
}
* {
    margin: 0;
    padding: 0;
}
article, aside, figure, footer, header, hgroup, nav, section {
    display: block;
}
header { background: #1d1d1d url("Images/header-background.jpg") repeat scroll 0 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 50px;
}
#banner {
    background: transparent none repeat scroll 0 0;
    padding-top: 15px;
    position: relative;
}
.container-fluid {
	padding-right: 0;
	padding-left: 0;
}
.menu-container {
	
}
.navbar-default {
	background: 0;
	border: 0;
	margin-top: -25px;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-header {
	border-radius: 0;
	margin-bottom: 0;
	border: 1px solid #0043A8;
	background: #f8f8f8;
	background: -moz-linear-gradient(#43A9FF, #0043A8);
	background: -o-linear-gradient(#43A9FF, #0043A8);
	background: -webkit-linear-gradient(#43A9FF, #0043A8);
	background: linear-gradient(#43A9FF, #0043A8);
	margin-right: 0;
	margin-left: 0;
	position: relative;
	z-index: 1;
	text-shadow: 1px 1px #000;
}
#nume {
    background: transparent none repeat scroll 0 0;
    margin: 0 auto;
    text-align: center;
    
}
#companie {
    text-align: center;
}

.image {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    float: left;
    height: 320px;
    width: 100%;
    background-image: url("Images/avocat.jpg");
    background-size: cover;
    background-position: center 40%;
}
#nume h3 { 
    color: #fff;
    font: 400% "News Cycle",Arial,sans-serif;
    letter-spacing: -3px;
    text-shadow: 1px 1px #000;
}
#companie h3 { 
    color: #fff;
    font: 300% "News Cycle",Arial,sans-serif;
    letter-spacing: -2px;
    text-shadow: 1px 1px #000;
}
nav {
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
    font: 150% "News Cycle",Arial,sans-serif;
    text-shadow: 1px 1px #000;
}
#meniu {
    background: rgba(0, 0, 0, 0) linear-gradient(#43a9ff, #0043a8) repeat scroll 0 0;
    border: 1px solid #0043a8;
    height: 50px;
    margin-top: -25px;
    text-align: center;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
.ul {
    font-size: 100%;
    font-style: normal;
    line-height: 1.7em;
}

ul#nav li.current a {
    color: #000;
    text-shadow: none;
}
ul#nav li {
    background: transparent none repeat scroll 0 0;
    display: inline;
    list-style: outside none none;
    margin: 2px 0 0;
    padding: 0;
}
ul#nav li a {
    background: transparent none repeat scroll 0 0;
    border-radius: 7px;
    color: #fff;
    float: left;
    font: bold 120% Arial,Helvetica,sans-serif;
    height: 24px;
    margin: 10px 0 0 20px;
    padding: 6px 20px 0;
    text-align: center;
    text-shadow: 1px 1px #000;
}
a, a:hover {
    outline: medium none;
}
#site_content {
	width: 100%;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #bbb;
    margin-bottom: 30px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.sidebar_container {
    float: right;
    margin: 20px 10px 0;
    padding: 0;
    width: 210px;
}
#content {
    float: left;
    margin: 0 0 20px 20px;
    width: 680px;
}
h1, h2, h3, h4, h5, h6 {
    color: #0043a8;
    font: bold 175% "News Cycle",Arial,sans-serif;
    letter-spacing: -1px;
    margin: 0 0 10px;
    text-shadow: 1px 1px #fff;
}
.content_item {
    margin-bottom: 20px;
    margin-top: 20px;
	padding: 0 15px;
}
p {
    color: #000;
    font-size: 100%;
    line-height: 1.7em;
    padding: 0 0 10px;
}
.image-holder .image-row {
	padding: 15px;
}
.image-holder .image-row img{
	margin-left: auto;
	margin-right: auto;
}
.mail {
    display: inline;
}
.telefon {
    display: inline;
}
.fax {
    display: inline;
}
.website {
    display: inline;
}
footer {
    height: 50px;
    padding-bottom: 30px;
    text-align: center;
    background: #FFF;
}
footer a{
	font-weight: bold;
	color: #0043A8;
	text-shadow: 1px 1px #FFF;
}
.btn {
	color: #0043A8;
    background-color: #F7F7F7;
    border-color: #0043A8;
}
.btn:hover { 
    background-color: #3399ff;
	color: #ffffff;
}
#contact {
	text-align: center;
	padding-bottom: 50px;
}
#contact p {
	margin: 0;
	font-size: 130%;
}
#contact a {
	text-decoration:none;
}
.columns p {
	padding:0;
	margin:0;
}

@media (max-width: 992px) {
	#site_content {
		font-size: 140%;
	}
}